@charset "UTF-8";
*{
    margin : 0;
    padding : 0;
}
section {
    width : 960px;
    margin : 0 auto ;
}

/* 가맹점문의 title */
div#input_title {
    width : 960px;
    font-size: 45px;
    height : 60px;
    font-weight: bold;
    margin-bottom : 30px;
    text-align: center;
}


/*입력테이블*/
table {
    border-top: 2px solid black;
    border-collapse: collapse;
    text-align: center;
    font-size : 14px;
    margin-bottom : 70px;
}


td {
    width : 960px;
    border : 1px solid #cccccc; 
}

td:first-child{
    width : 200px;
    height : 60px;
    background-color:#f7f7f7 ;
    font-weight: bold;
}

/*입력창 크기 지정*/
input {
    width : 760px;
    height : 40px;
    border : 1px solid #cccccc; 
    border-radius: 5px;
}
/*라디오 버튼 크기*/
.radio {
    width : 20px;
}


/*문의 내용*/
 textarea{
    border : 1px solid #cccccc; 
    border-radius: 5px;
    width : 760px;
 }


/*정보이용동의*/
#checkbox {
    width : 20px;
}



/*하단 버튼 두개*/
#button_wrap {
    text-align: center;
}


/*작성완료 버튼*/
input#submitB {
    width : 80px;
    cursor: pointer;
}


/*취소버튼*/
button {
    width : 80px;
    height : 40px;  
    margin-bottom : 60px;
    border: 1px solid lightgray;
    border-radius: 5px;
    font-size: 13px;
    cursor: pointer;
    margin-left : 70px;
}




